<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="checkout.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <a href="/products" style="margin: 10px 20px; text-decoration: none; color:black; padding:9px 15px; border:2px solid gray; background-color: greenyellow;">Home</a>
    <% let total = 0; %>
    <% products.forEach(product => { %>
        <% total+=product.price; %>
    <% }) %>
    <div class="heading" style="margin: 30px 0px;">Checkout</div>
    <div class="full">
        <div class="content">
            <div class="main">
                <div id="d1">
                    <p id="f1">Customer Information</p>
                    <span id="in1">
                        <input type="text" placeholder="Username or Password" required >
                    </span>
                    <p id="f1">Billing Details</p>
                    <span id="in2">
                        <div style="margin-bottom: 20px;" class="row g-3">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                            </div>
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                            </div>
                        </div>
                        <span id="in1">
                            <input type="text" placeholder="House No,Locality,Village" required >
                        </span>
                        <div style="margin-bottom: 20px;" class="row g-3">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="City" aria-label="City">
                            </div>
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Pin Code" aria-label="Pin Code">
                            </div>
                        </div>
                        <span id="in1">
                            <input type="text" placeholder="Phone Number" required >
                        </span>
                        <p id="f1">Additional Information</p>
                        <span id="in1">
                            <textarea name="ddf" id="" cols="67" rows="2" placeholder="Extra Notes for Your Order"></textarea>
                        </span>
                        <p id="f1">Payment</p>
                        
                    </span>
                    <div id="f3">
                        <div><a href="">PayNow $ <data><%= total %></data></a></div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="bill">
            <h2>Cart Totals</h2>
            <div class="subtot">
                <div class="inside">Subtotal</div>
                <div class="inside">$<%= total %></div>
            </div>
            <div class="tot">
                <div class="inside">Total</div>
                <div class="inside">$<%= total %></div>
            </div>
            <p id="haveCoupon">Have a coupon?</p>
            <div class="button">
                <button id="btn"><a href="/checkout">Proceed To Checkout</a></button>
            </div>
        </div>
    </div>
</body>
</html>